<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.ase.map.permission.MAPS_RECEIVE" />
    <!-- <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

    <permission
        android:name="com.ase.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     <permission
         android:name="com.myapplication3.gcm.permission.C2D_MESSAGE"
         android:protectionLevel="signature" />
     <uses-permission android:name="com.myapplication3.gcm.permission.C2D_MESSAGE" />
    -->

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">
        <activity android:name="com.ase.AppMainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="org.pjsip.pjsua2.app.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.pjsip.pjsua2.app.CallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!-- android:label="@string/title_activity_call" -->

        <activity
            android:name="com.ase.Splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ase.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="@string/title_activity_login" -->
        <receiver android:name="com.ase.AlarmManagerBroadcastReceiver" />
        <receiver android:name="org.pjsip.pjsua2.app.SipRegisterBroadastReceiver" />

        <!--
         <receiver
             android:name="com.google.android.gms.gcm.GcmReceiver"
             android:exported="true"
             android:permission="com.google.android.c2dm.permission.SEND">
             <intent-filter>
                 <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                 <category android:name="com.gnirt69.gcmexample"/>
             </intent-filter>
         </receiver>
        -->
        <!-- GCM Receiver Service -->
        <service android:name="com.ase.gcm.GCMPushReceiverService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service android:name="com.ase.gcm.GCMTokenRefreshListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="org.pjsip.pjsua2.app.LocationTrace">
            <intent-filter android:priority="1000">
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.ase.AssignedTemplates"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Takerslist"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.chat.BuddyAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.RandomNumber.IncomingCallAlert"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />
        <activity
            android:name="com.ase.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.CustomTagsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.MainCustomTag"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.CustomHeaderTagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.TemplateView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.ReminderFrequencySelection"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.Audioplayer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.ReminderFrequencyLocal"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.Task_History_Filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.Contactlistpage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.blog.BlogPostCommandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.CustomVideoCamera"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.UpdateProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.ProjectHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.NewBlogActivity"
            android:label="@string/title_activity_new_blog"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.NewTaskActivity"
            android:label="@string/title_activity_new_blog"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.VideoPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.UserDialog"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.ase.MultipleFileUploadActivity" />
        <activity android:name="com.ase.FilePicker" />
        <activity
            android:name="com.ase.TaskConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.FullScreenImage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.AudioRecorder"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.ase.Task_Percentage_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.call_list.Call_History"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Perfomanceview"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.PerformanceMetrics"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.NewTaskConversation"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.NewTempConversation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.UpdateTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.TaskHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.ViewProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.TaskDateUpdate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.TaskNotification"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.ase.HandSketchActivity2" />
        <activity
            android:name="com.ase.AddObserver"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.TaskTakerDateRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.TaskConversationTagFilter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.ListOfFiles"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.FileListAdapter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.TemplateList"
            android:screenOrientation="portrait" />
        <activity android:name="com.ase.Viewvideo" />
        <activity
            android:name="com.ase.Forms.FormsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Forms.FormEntryViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Forms.FormsEntryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name="com.ase.ScheduleManager" />
        <receiver android:name="receiver.ScheduleCallReceiver" />
        <receiver android:name="receiver.ScheduleChatReceiver" />
        <receiver android:name="com.ase.NetWorkChange">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ase.GroupPercentageStatus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.ViewProjectMembers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.ConflictList"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentGreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.ase.Leave_Request_dateSent" />
        <activity
            android:name="com.ase.LocationFind"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.Forms.AddFormsInWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.AddTaskReassign"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Forms.FormAccessControl"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.activity.SchedulerActivity"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.ase.AllTaskList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ase.All_Task_History_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.chat.ChatAlert"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.BuzzAlert"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.Reminder_Responses"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.escalations.EscalationEntryActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.escalations.EscalationEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.escalations.EscalationOptionsValuesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="com.ase.NotesList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.NoteDateUpdate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ase.Forwardto"
            android:screenOrientation="portrait" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.ase.MoreFieldsEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.More_Fields"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.escalations.AddEscalation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.TaskReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.ReportView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.CommonDateTimePicker"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.DisplayList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.ase.SearchMediaWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ase.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.ase.TravelJobDetails"></activity>
        <activity android:name="com.ase.DatePicker.CustomTravelPickerActivity"></activity>
        <activity android:name="com.ase.EulaScreen"></activity>
    </application>

</manifest>